*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.row{
    font-size: 0px;
}
.row div{
    width: 20px;
    height: 20px;
    /*border: 1px solid black;*/
    display: inline-block;
}
.bloque{
    background-color: blue;
}
.moneda{
    background: url('img/coin.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cereza{
    background: url('img/cereza.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#pacman, #doblePacman{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('img/pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#fantasma{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('img/fantasma.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.marcadores{
    width: 50px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    color: white;
    top: 40px;
    left: 240px;
    padding: 3px;
}
.up{
    width: 20px;
    height: 20px;
    background: url('img/vidas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

